<template>
  

  <div id="info">

  	
	<div class="modal fade" :id="'Modal'+zipcode.id" tabindex="-1"  aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" >Detalle de Codigo Postal</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <div>Departamento: {{zipcode.department}}</div>
	        <div>Municipio: {{zipcode.municipality}}</div>
	        <div>Codigo Postal: {{zipcode.postalCode}}</div>
	        <div>Vecindario: {{zipcode.neighbourhood}}</div>
	      </div>
	      
	    </div>
	  </div>
	</div>


    <div class="divInfo">{{ zipcode.postalCode }}</div>
    <div class="divInfo" style="text-align: left;">{{zipcode.neighbourhood}}</div>
    <div class="divInfo">
    	<button data-bs-toggle="modal" :data-bs-target="'#Modal'+zipcode.id"><i class="fa fa-plus-circle" aria-hidden="true"></i> Detalles</button>
    </div>

    

  </div>
</template>

<script>
export default {
  props: ["zipcode"]
};
</script>

