<template>
  <div id="app">
    <div v-if="errored">
      <a>Lo sentimos, no se obtiene respuesta del API</a>
    </div>

    <div v-if="!errored">
      <a>Escriba el codigo postal que desea buscar:</a>

      <input type="text" v-model="search">

      <div v-for="zipcode in filteredZipcodes" :key="zipcode.id">
        <zipcode :zipcode="zipcode"></zipcode>
      </div>
      <p v-if="!filteredZipcodes.length">No hay resultados para el codigo postal ingresado</p>
    </div>

    


   
  </div>
</template>

<script>

  import Zipcode from "./components/Zipcode"
  import axios from 'axios'


export default {
  name: "App",
  components: { Zipcode },
  data(){
    return{
      zipcodes: [],
      search: "",
      errored: false,
      endpoint: 'http://localhost:4000/api/zipcodes',     
    }
  },
  created(){
    this.getAllZipcodes();
  },
  methods: {
    getAllZipcodes(){
      axios.get(this.endpoint)
        .then(response =>{
          this.zipcodes = response.data.data;
          console.log(response.data.data);
        })
        .catch(error => {
          this.errored = true;
          console.log('-----error-------');
          console.log(error);
        })
    }
  },
  computed: {
      filteredZipcodes(){
        return this.zipcodes.filter(zipcode =>
          zipcode.postalCode.toLowerCase().includes(this.search.toLowerCase())
          );
      }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#info {
  display: inline-flex;
  width: 40%;
  margin-top: 0.2em;
}

.divInfo{
  width: 33%;
}

</style>